*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  
}

html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(ShibuyaRiver.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.dark-glass {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 15px 30px -10px rgb(0, 0, 0);
}

.card {
  border-radius: 1rem;
  height: 350px;
  width: 300px;
}

.card-heading {
  padding: 1rem;
}

.card-body {
  margin: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn {
  padding: 8px 25px;
  background-color: rgb(247, 0, 115);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 30px rgb(0,0,0);
  border-radius: 1rem;
  margin-top: 10px;
}